#mainTitle{
    text-align: center;
    background-color: black;
    letter-spacing: 5px;
    color:white;
    font-weight: 500;
    padding: 15px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.container1 h2{
    float: left;
}
.container1 button{
    float:right;
}
.container{
    margin-top:60px;
}
.formDivStyle{
    margin-bottom: 20px;
}
#createValidStudentMessage{
    text-align: center;
    color: red;
}
#successMessage{
    text-align: center;
    color: green;
}